/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-page {
    width: auto;
    overflow: hidden;
}
.featured-products .slick-arrow:before {
    margin-right: 4px!important;
}
.featured-products .slick-arrow.slick-prev {
    z-index: 10!important;
}
.featured-products .slick-arrow {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;	
    padding: 4px!important;
}
.njba-tabs-panel-content {
    padding: 0;
}

.tabReverce .njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

.tabCenter .njba-tabs-nav {
    display: flex;
    justify-content: center
}

.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}
.saleColumn .fl-rich-text > p{
	display: none!important;
}
.njba-tabs-label.njba-tab-active>.njba-tab-label-inner {
    border-color: #A00A20 !important;
}

.fl-page-bar-container {
    padding: 15px 0;
}

#menu-top-bar-menu .nav-link {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 40px;
    font-family: 'Montserrat', sans-serif;
}

/* .fl-page-header-logo .fl-logo-img {
    height: 90px !important;
} */

.fl-page-nav .navbar-nav>li>a.nav-link {
    padding: 22px 15px;
}


/* .fl-page-nav {
	padding: 20px;

} */

.fl-page-header .fl-page-header-container {
    padding: 10px 0;
}

.homeSlider .bx-pager.bx-default-pager {
    bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: transparent;
    border: 1px solid #fff;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}
#gform_wrapper_16 input,
#gform_wrapper_16 #input_16_8_3,
#gform_wrapper_16 #input_16_8 i,
#gform_wrapper_4 input,
#gform_wrapper_4 #input_4_8_3,
#gform_wrapper_4 #input_4_8 i,
#gform_wrapper_4 #input_4_9{
    margin: 0 !important;
}
.fl-builder-content div.fl-module-button  a.fl-button, 
.fl-builder-content div.fl-module-button  a.fl-button:visited{
    background-clip: border-box !important;
}
#gform_wrapper_16 #input_16_7{
    width: 100%;
    position: relative;
}
body .gform_wrapper .top_label div.ginput_container{
    position: relative;
}
#gform_wrapper_16 #field_16_7 .ginput_container_date img{
    position: absolute;
    top: 35%;
    right: 15px;
}
.gform_body select{
    border-radius: 4px;
}

#gform_wrapper_16 #field_16_2,
#gform_wrapper_16 #field_16_7,
#gform_wrapper_4 #field_4_2,
#field_9_2, #field_4_12 {
    padding-right:0px;
}

.fl-page .fl-page-content .fl-content-full.container > .row > .fl-content{
    margin: 0;
}

.mfp-wrap .mfp-close, .mfp-wrap .mfp-close:active, .mfp-wrap .mfp-close:hover, .mfp-wrap .mfp-close:focus{
    color: #fff;
}


.fl-builder-content .location-top a.fl-button span{
    color: inherit!important;
}

.fl-builder-content .location-top a.fl-button:hover{
    background: #A00A20;
}
@media(min-width:768px){
	.responsive-menu-item-link{
		padding-left: 8px!important;
		padding-right: 8px!important;
	}
}
@media(max-width:1024px){
    .fl-page-nav .navbar-nav>li>a.nav-link {
        padding: 12px 10px;
    }

    #menu-top-bar-menu .nav-link{
        padding: 2px 10px;
    }

    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link{
        padding: 10px 15px; 
    }

}

@media(max-width:992px){


    .fl-page-nav-search{
        display: block!important;
    }

    .facetwp-per-page select.facetwp-per-page-select{
        width: 100px;
    }
}


@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo {
		text-align: left !important;
		margin-left: 20px !important;
	}
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
    .fl-page-bar-nav>li{
        display: none;
    }
    .fl-page-bar-nav > :first-child{
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo{
        text-align: center;
        margin-right: 0px;
    }

    .uabb-module-content .uabb-text-editor.uabb-tabs-desc .fl-callout-title{
        font-size: 26px;
    }

   #responsive-menu li a{
        text-transform: uppercase;
   } 
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
    border-bottom: 4px solid transparent;
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}


/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box a.fl-button.view_more {
    background: #a00a20;
    border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
    background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
    color: #a00a20;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}


/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
    text-align: center;
}

.product-variations>.row {
    display: block;
}

.product-variations img {
    width: 100%;
    height: auto;
    padding: 0px!important;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}


/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
    margin: 0 0 50px;
    padding: 20px 0;
    position: relative;
    background: #fff9f2;
}

.slick-initialized .slick-slide {
    max-width: none;
}


/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
    color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
    font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.footerSocial-icons ul.social-icons>li {
    padding: 0 10px;
}

.footerSocial-icons ul.social-icons>li>a {
    color: #767676;
}

.footerWrapper {
    font-family: roboto;
}

.storename,
.footerWrapper .storename {
    padding: 0;
    list-style: none;
}

.footerWrapper .storename p {
    margin: 0 !important;
}

.njba-tabs-panel-content>p {
    display: none;
}

.backgroundImage-color {
    padding: 0 80px 50px;
    background: #fff9f2;
}

.njba-tabs.njba-tab-section-main .tab-align-center .njba-tabs-nav .njba-tabs-label.njba-tab-active .njba-tab-label-inner {
    border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
    padding: 20px 35px;
    background: transparent;
    border-color: #ffffff;
}

.fl-page .btnReverce a.fl-button>* {
    color: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover {
    background: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover>* {
    color: #383838;
}

.search-wrapper {
    padding: 10px;
}

.phoneno>a {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.phoneno .storename {
    margin: 0px;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
    z-index: 999!important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px!important;
}

.form-wrap-shopat {
    z-index: 999;
}

#responsive-menu-additional-content a {
    color: #fff;
    font-size: 16px;
}

.timeEstimate .ginput_container_time select {
    width: 100px!important;
}

.facetwp-checkbox {
    font-size: 15px !important;
}

.button-wrapper-default a, .button-wrapper-default a.button{
    text-align: center !important;
}
.responsive-button-wrapper-default a, .responsive-button-wrapper-default a.button{
    text-align: center !important;
}

@media(max-width:991px) {
    button#responsive-menu-button {
        position: absolute!important;
    }
}

@media(max-width:500px) {
    button#responsive-menu-button{
        top: 18px!important;
    }
    .product-box a.fl-button {
        width: 100%!important;
    }
    .quality-family-best-wrap .uabb-list-icon-wrap {
        width: 60%!important;
        display: block;
        margin: 10px 0px!important;
    }
}
@media (max-width:768px){
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}

    #product-list-top-filters .fl-col-group .fl-col{ width: auto !important;}
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
    .product .product-detail-layout-default .product-swatch, .product .product-detail-layout-default .product-box{
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
}
@media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
}
.fl-module-uabb-gravity-form div.uabb-gf-style {
    padding: 20px 0;
}
.display-flex h3{
  display: flex ;
}
